@{ Layout = null;}
<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <!-- 移动设备 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Safari浏览器添加到主屏幕（IOS） -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/admin/hzyAdminUI/libs/fontawesome-free-5.9.0-web/css/all.min.css" rel="stylesheet" />
    <link href="~/admin/hzyAdminUI/libs/metismenu-master/metisMenu.min.css" rel="stylesheet" />
    <link href="~/admin/hzyAdminUI/libs/web-icons-master/css/web-icons.css" rel="stylesheet" />
    <link href="~/admin/hzyAdminUI/css/core.css" rel="stylesheet" />
    <link href="~/admin/hzyAdminUI/css/site.css" rel="stylesheet" />
    <link href="~/admin/hzyAdminUI/css/main.css" rel="stylesheet" />
    <!--js-->
    <script src="~/admin/hzyAdminUI/js/router.js"></script>
    <script src="~/admin/hzyAdminUI/libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/admin/hzyAdminUI/libs/jquery-mousewheel/jquery.mousewheel.min.js"></script>
    <script src="~/admin/hzyAdminUI/libs/bootstrap-master/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/hzyAdminUI/libs/metismenu-master/metisMenu.min.js"></script>
    <script src="~/admin/hzyAdminUI/js/main.js"></script>
    <!--system-->
    @{await Html.RenderPartialAsync("~/Areas/Admin/Views/Sys/PowerControl/Index.cshtml");}
    <script src="~/admin/libs/layer/layer.js"></script>
    <script src="~/admin/js/admin.js"></script>
    <script src="~/admin/libs/vue/vue.js"></script>
    @RenderSection("Styles", required: false)
    <link href="~/admin/css/admin.css" rel="stylesheet" />
</head>
<body class="@ViewBag.BodyClass">    
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>